

  <!-- <div id="chart">
    <canvas id="myChart"></canvas>
  </div> -->
<!-- <div class="contain" *ngFor='let arr of arr' style>
  <div class="bar" [ngStyle]="{'height': ">
    {{arr}}
  </div>
</div> -->
<!-- <div class>
  {{rawData}}
</div> -->
<!-- <div>
  <h3 style="text-align: center;">Bubble Sort Visualizer
  </h3> 
</div> -->
<!-- <hr>
<div *ngFor="let siz of rawData;let comp of numarr; let i = index;let j=index" style="display: inline" [ngClass]="{'red-font' : i == activeIndex1,'green-bar':j==activeIndex2}"> {{siz}}
</div>
<hr> -->
<!-- <div class="row">
  <div class="col-md-10 offset-2"> -->
    <!-- <table>
      <tr>
        <th>Bubble Sort</th> -->
        <!-- <th>Merge Sort</th>
        <th>Quick Sort</th> -->
      <!-- </tr>
      <tr>
        <td> -->
          <div *ngIf="!sorted">
            <div class="bar" id="chan" *ngFor="let siz of numarr;let comp of numarr; let i= index;let j=index" style="width: 5px;" [ngStyle]="{height:siz*.8+'px'}"[ngClass]="{'red-bar' : i== activeIndex1,'green-bar':j==activeIndex2}">
            </div>
            <!-- <select name="speed" id="speed" >
              <option value="50" active>50ms</option>
              <option value="100" active>100ms</option>
              <option value="200" active>200ms</option>
            </select> -->
            </div>
            <div  *ngIf="sorted" >
              <div class="bar" *ngFor="let siz of rawData" style="width: 5px;" [ngStyle]="{height:siz*.8+'px'}">
              </div>
          </div>
          <div class="row" align="bottom">
            <div class="col-md-8 offset-md-2">
          <table class="text-align-center" align="center">
            <tr >
              <th colspan="3">
                Time Complexity
              </th>
             
            </tr>
            <tr>
              <th>
                Best Case
              </th>
              <th>
                Average Case
              </th>
              <th>
                Worst Case
              </th>
            </tr>
            <tr>
              <td>
                Ω(n)
              </td>
              <td>
                θ(n^2)
              </td>
              <td>
                O(n^2)
              </td>
            </tr>
          </table></div>
          </div>
        <!-- </td> -->
        <!-- <td>
          <div *ngIf="!sorted">
            <div class="bar" id="chan" *ngFor="let siz of numarr;let comp of numarr; let i= index;let j=index" [ngStyle]="{height:siz*.8+'px'}"[ngClass]="{'red-bar' : i== activeIndex1,'green-bar':j==activeIndex2}">
            </div>
            </div>
            <div  *ngIf="sorted" >
              <div class="bar" *ngFor="let siz of rawData" [ngStyle]="{height:siz*.8+'px'}">
              </div>
          </div>
        </td> -->
        <!-- <td>
          <div *ngIf="!sorted">
            <div class="bar" id="chan" *ngFor="let siz of numarr;let comp of numarr; let i= index;let j=index" [ngStyle]="{height:siz*.8+'px'}"[ngClass]="{'red-bar' : i== activeIndex1,'green-bar':j==activeIndex2}">
            </div>
            </div>
            <div  *ngIf="sorted" >
              <div class="bar" *ngFor="let siz of rawData" [ngStyle]="{height:siz*.8+'px'}">
              </div>
          </div>
        </td> -->
      <!-- </tr>
    </table>
  </div>
</div> -->


  

  

