/* #chart{
    display: block;
    width:300px;
    height:300px;
} */
/* .contain{
    position: absolute;
    left:100px;
    height: 200px;
} */
.bar{
    width:2px;
    background-color: blue ;
    display:inline-block;
    position: relative;
    margin-top: 5px;
    margin-left:1px;
    padding-left: 1px;
    
} 


.red-bar {
    background-color: red ;
  }
  
.green-bar {
    background-color: green ;
  }
  .red-font{
    color:red;
  } 
  .green-font{
    color:green;
  } 
  /* table{
      margin: 20px;
  } */
  th{
      padding:10px;
      text-align: center;
      border:black solid 2px;
  }
  td{
      padding:10px;
      border: black solid 2px;
  }